.emptyState {
  align-items: center;
  border-top: 1px solid #333333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}

.emptyState img {
  margin-bottom: 1rem;
}

.emptyState p {
  color: var(--gray-300);
  font-size: var(--font-size-lg);
  line-height: 140%;
}

.emptyState p > * {
  display: block;
  text-align: center;
}