.header > div {
  display: flex;
  justify-content: center;
}

.header > div:first-child {
  align-items: center;
  background: var(--gray-700);
  height: 100px;
}

.header > div:first-child img {
  height: 3rem;
}

.header > div:last-child {
  margin-top: calc(32px);
}

.taskForm {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 0.5rem;
  width: 46rem;
}

.taskForm input {
  background: var(--gray-800);
  border: 0px;
  border-radius: 8px;
  color: var(--gray-100);
  font-size:var(--font-size-lg);
  height: 3.375rem;
  line-height: 140%;
  padding: 1rem;
  width: 100%;
}

.taskForm button {
  align-items: center;
  background: var(--purple);
  border: 2px solid var(--gray-900);
  border-radius: 8px;
  color: var(--gray-100);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-md);
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem;
  width: 90px;
  transition: background-color 0.2s;
}

.taskForm button:hover {
  background: var(--purple-light);
}

.taskForm button span {
  line-height: 140%;
}