.task {
  background: var(--gray-700);
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 0.75rem;
  padding: 1rem;
  width: 100%;
}

.taskCompleted {
  background: var(--gray-700);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 0.75rem;
  padding: 1rem;
  width: 100%;
}

.task + .task,
.task + .taskCompleted,
.taskCompleted + .taskCompleted,
.taskCompleted + .task {
  margin-bottom: 0.75rem;
}

.checkboxContainer {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 0.75rem;
}

.inputTitle {
  background: transparent;
  border: none;
  color: var(--gray-100);
  outline: .075rem dashed var(--gray-400);
  outline-offset: .5rem;
  overflow: auto;

  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.saveButton {
  align-items: center;
  background: var(--success);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.saveButton:focus, .saveButton:hover  {
  background: var(--success-light);
}

.saveButton .saveIcon {
  color: var(--gray-700);
}